In [1]:
# Set path to data
from google.colab import drive
drive.mount('/content/gdrive')
%cd './gdrive/My Drive/Matching with RE288/Data_and_Fits'

Mounted at /content/gdrive
/content/gdrive/My Drive/Matching with RE288/Data_and_Fits

In [2]:
# Packages we'll use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
from google.colab import files
import zipfile, io, os
# Load in RE288 game state function; uncomment next line if first time using
#files.upload()
#from RE288 import RE288_calc
print("Packages loaded")

Packages loaded

In [7]:
data

         Unnamed: 0 pitch_type  ...     RE288 RE288_change
0                 0         FF  ...  1.969061    -0.016539
1                 1         FF  ...  1.952521     0.015919
2                 2         FT  ...  1.968441     0.002399
3                 3         FF  ...  1.970840    -0.030190
4                 4         FF  ...  1.940650     0.012106
...             ...        ...  ...       ...          ...
2891242     2891242         KC  ...  1.917817          NaN
2891243     2891243         FF  ...  2.020894          NaN
2891244     2891244         FF  ...  1.981160          NaN
2891245     2891245         FF  ...  1.976912          NaN
2891246     2891246         FT  ...  1.904386          NaN

[2891247 rows x 48 columns]

# Turning raw data into single df, fixing NAs, and adding needed columns.

In [ ]:
# Combine all files into single doc. 
#header = ['pitch_type','game_date','batter','pitcher','events','description',\
#          'zone','des','stand','p_throws','home_team','away_team','type','hit_location',\
#          'bb_type','balls','strikes','game_year','on_3b','on_2b','on_1b',\
#          'outs_when_up','inning','inning_topbot','fielder_2','hit_distance_sc',\
#          'launch_speed','launch_angle','effective_speed','at_bat_number',\
#          'pitch_number','home_score','away_score','if_fielding_alignment','of_fielding_alignment']

# Using glob to match the pattern 'csv'
#all_filenames = [file for file in glob.glob('*.csv')]

# Concatenate all files
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

# Save the returned resulting df as .csv
#combined_csv.to_csv("All_MLB_data.csv")

In [ ]:
# Read in file
data_raw = pd.read_csv("All_MLB_data.csv")
data_raw = data_raw.drop(['Unnamed: 0'], axis=1)
data = data_raw.copy()
data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  pitch_type   game_date  ...  if_fielding_alignment  of_fielding_alignment
0         FF  2016-10-02  ...               Standard               Standard
1         FF  2016-10-02  ...               Standard               Standard
2         FF  2016-10-02  ...               Standard               Standard
3         FC  2016-10-02  ...               Standard               Standard
4         CU  2016-10-02  ...               Standard               Standard

[5 rows x 89 columns]

In [ ]:
# Replace null values with 0s. 
data['on_1b'].fillna(0, inplace=True)
data['on_2b'].fillna(0, inplace=True)
data['on_3b'].fillna(0, inplace=True)

# Replace runner MLB player IDs with a 1. 
data.loc[(data['on_1b'] > 0), 'on_1b'] = 1
data.loc[(data['on_2b'] > 0), 'on_2b'] = 1
data.loc[(data['on_3b'] > 0), 'on_3b'] = 1

In [ ]:
# Assign game state identifier for every pitch thrown. 288 game states possible \
# using all unique combinations of balls, strikes, outs, and location of baserunners.
game_state = RE288_calc(data=data, balls='balls', strikes='strikes', outs='outs_when_up', \
        runner_first='on_1b', runner_second='on_2b', runner_third='on_3b')

# Convert list to Pandas dataframe and concatenate with existing data
game_state = pd.DataFrame(game_state)
game_state.columns = ['game_state']
data_gs = pd.concat([data, game_state], axis=1, join='inner')

# Sort by game_date, inning, 
data_gs = data_gs.sort_values(['game_pk', 'inning', 'outs_when_up', 'pitch_number'], \
                              ascending=(True,False,False,False))
data_gs = data_gs.reset_index()

# Add column to indicate whether the inning changed after each pitch. 
data_gs['inning_same'] = data_gs.inning == data_gs.inning.shift()

In [ ]:
data_gs.to_csv('All_MLB_data_gs.csv')

In [ ]:
# Add column of total runs scored to this pitch in the inning. 
#data_gs['total_runs'] = data['home_score'] + data['away_score']
runs_scored = []
for row, value in enumerate(data_gs['game_pk']):
    curr_game = value
    df_length = len(data_gs)-1
    if (row<df_length):
        prev_row_game = row+1
        prev_row_game_val = data_gs.game_pk[prev_row_game]
        if (curr_game!=prev_row_game_val):
            runs = data_gs.home_score[row] + data_gs.away_score[row]
            runs_scored.append(runs)
        if (row==0):
            prev_row = row+1
            ho_sc_1 = data_gs.home_score[row]
            aw_sc_1 = data_gs.away_score[row]
            curr_tot = ho_sc_1 + aw_sc_1
            ho_sc_2 = data_gs.home_score[prev_row]
            aw_sc_2 = data_gs.away_score[prev_row]
            prev_tot = ho_sc_2 + aw_sc_2
            if (curr_tot < prev_tot):
                runs_scored.append(prev_tot)
            else:
                runs_scored.append(curr_tot)
        else:
            prev_row = row-1
            ho_sc_1 = data_gs.home_score[row]
            aw_sc_1 = data_gs.away_score[row]
            curr_tot = ho_sc_1 + aw_sc_1
            ho_sc_2 = data_gs.home_score[prev_row]
            aw_sc_2 = data_gs.away_score[prev_row]
            prev_tot = ho_sc_2 + aw_sc_2
            if (curr_tot > prev_tot):
                runs_scored.append(prev_tot)
            else:
                runs_scored.append(curr_tot)
    if (row==df_length):
        prev_row = row-1
        ho_sc_1 = data_gs.home_score[row]
        aw_sc_1 = data_gs.away_score[row]
        curr_tot = ho_sc_1 + aw_sc_1
        ho_sc_2 = data_gs.home_score[prev_row]
        aw_sc_2 = data_gs.away_score[prev_row]
        prev_tot = ho_sc_2 + aw_sc_2
        if (curr_tot > prev_tot):
            runs_scored.append(prev_tot)
        else:
            runs_scored.append(curr_tot)

# Append total runs col to df.
runs_scored = pd.DataFrame(runs_scored)
change_score = pd.DataFrame(runs_scored)
change_score.columns = ['total_runs']
data_gs = pd.concat([data_gs, runs_scored], axis=1)

In [ ]:
# Add column to indicate the change in score after each pitch. 
#data_gs['inning_same'][:10]
change_score = []
for row, value in enumerate(data_gs['inning_same']):
    if (value==True):
        minus = row-1
        change_val = data_gs.total_runs[minus] - data_gs.total_runs[row]
        if change_val >= 0:
              change_score.append(change_val)
        else:
          change_score.append(0)
    else:
        change_score.append(0)

# Append the change_score col to df
change_score = pd.DataFrame(change_score)
change_score.columns = ['change_score']
data_gs = pd.concat([data_gs, change_score], axis=1)

In [ ]:
data_gs.to_csv("All_MLB_data_gs.csv")

In [ ]:
# Add column that sums number of runs scored in that inning after each pitch. 
last_false = 0
run_sum = []
run_sum_val = 0
for row, value in enumerate(data_gs['inning_same']):
    if (value==False):
        end = row-1
        run_sum_val = data_gs['change_score'].loc[last_false:end].cumsum()
        run_sum.append(run_sum_val)
        last_false = row + 1
    else:
        pass
        
all_run_sums = []
for sublist in run_sum:
    for i in sublist:
        all_run_sums.append(i)

# Append the cumulative sum of runs to the df
runs_to_inning_end = pd.DataFrame(all_run_sums)
runs_to_inning_end.columns = ['runs_inn_end']
data_gs = pd.concat([data_gs, runs_to_inning_end], axis=1)

In [ ]:
# Save new dataframe to new .csv file titled *_gs.csv
data_gs.to_csv('All_MLB_data_gs.csv')

In [ ]:
# If picking up from here. 
data_raw = pd.read_csv('All_MLB_data_gs.csv')
data_gs = data_raw.copy()
data_gs = data_gs.drop(['Unnamed: 0'], axis=1)
data_gs.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,7,10,11,17,18,19,20,21,22,23,25,38,45,80,89,90,92) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       index pitch_type   game_date  ...  total_runs  change_score  runs_inn_end
0  1079167.0         FF  2016-04-05  ...           8             0           0.0
1  1079168.0         FF  2016-04-05  ...           8             0           0.0
2  1079169.0         FT  2016-04-05  ...           8             0           0.0
3  1079170.0         FF  2016-04-05  ...           8             0           0.0
4  1079171.0         FF  2016-04-05  ...           8             0           2.0

[5 rows x 95 columns]

# Create NL and AL dataframes, and calculate RE288 for each season.

In [ ]:
df_gs_spec = data_gs[['pitch_type','game_date','player_name','batter',\
                             'pitcher','events','description','zone','des',\
                             'game_type','stand','p_throws','home_team',\
                             'away_team','type','hit_location','bb_type','balls',\
                             'strikes','game_year','on_3b','on_2b','on_1b',\
                             'outs_when_up', 'inning','inning_topbot','fielder_2',\
                             'effective_speed','game_pk','pitcher.1','fielder_2.1',\
                             'at_bat_number','pitch_number','pitch_name',\
                             'post_away_score','post_home_score','post_bat_score',\
                             'post_fld_score','if_fielding_alignment',\
                             'of_fielding_alignment','game_state','inning_same',\
                             'total_runs','change_score','runs_inn_end']]

In [ ]:
df_gs_spec.head()

  pitch_type   game_date   player_name  ...  total_runs  change_score runs_inn_end
0         FF  2016-04-05  Trevor Bauer  ...           8             0          0.0
1         FF  2016-04-05  Trevor Bauer  ...           8             0          0.0
2         FT  2016-04-05  Trevor Bauer  ...           8             0          0.0
3         FF  2016-04-05  Trevor Bauer  ...           8             0          0.0
4         FF  2016-04-05  Trevor Bauer  ...           8             0          2.0

[5 rows x 45 columns]

In [ ]:
# Drop rows where the home team is nan
df_gs_spec = df_gs_spec.dropna(subset=['home_team', 'away_team'])

In [ ]:
# Create the NL and AL dataframes
AL_teams = ['CLE', 'OAK', 'NYY', 'BAL', 'KC', 'TEX', 'TB', 'LAA', 'TOR', 'CWS', \
            'DET', 'SEA', 'BOS', 'MIN', 'HOU']
NL_teams = ['COL', 'LAD', 'NYM', 'PHI', 'SF', 'STL', 'WSH', 'CHC', 'MIA', 'PIT', \
            'SD', 'ATL', 'CIN', 'MIL', 'ARI']
AL_data = df_gs_spec.loc[df_gs_spec['home_team'].isin(AL_teams)]
NL_data = df_gs_spec.loc[df_gs_spec['home_team'].isin(NL_teams)]

In [ ]:
# Double check that 
print("AL Teams:", AL_data.home_team.unique())
print("NL Teams:", NL_data.home_team.unique())

AL Teams: ['CLE' 'OAK' 'NYY' 'BAL' 'KC' 'TEX' 'TB' 'LAA' 'TOR' 'CWS' 'DET' 'SEA'
 'BOS' 'MIN' 'HOU']
NL Teams: ['ARI' 'SD' 'CIN' 'MIL' 'PIT' 'ATL' 'MIA' 'SF' 'WSH' 'NYM' 'COL' 'CHC'
 'STL' 'PHI' 'LAD']

In [ ]:
# Isolate each game state for each year and calculate the average for NL teams
game_states = list(range(1,289))
years = list(range(2016, 2020))

# Empty lists
year_match = []
game_state_vals = []
run_expectancy = []

for i in years:
  df_year = NL_data[NL_data['game_year'] == i]
  for j in game_states:
    df_game_state = NL_data[NL_data['game_state'] == j]
    avg_rs_gs = df_game_state['runs_inn_end'].mean()
    year_match.append(i)
    game_state_vals.append(j)
    run_expectancy.append(avg_rs_gs)

# Combine the three lists into a single dataframe
RE288_NL = pd.DataFrame({'Year':year_match, 'Game_State':game_state_vals, \
                         'NL_RE288':run_expectancy})

In [ ]:
RE288_NL.describe()

             Year   Game_State     NL_RE288
count  1152.00000  1152.000000  1152.000000
mean   2017.50000   144.500000     1.971522
std       1.11852    83.174045     0.125870
min    2016.00000     1.000000     1.588496
25%    2016.75000    72.750000     1.912018
50%    2017.50000   144.500000     1.971588
75%    2018.25000   216.250000     2.026546
max    2019.00000   288.000000     2.480000

In [ ]:
# Isolate each game state for each year and calculate the average for AL teams
game_states = list(range(1,289))
years = list(range(2016, 2020))

# Empty lists
year_match = []
game_state_vals = []
run_expectancy = []

for i in years:
  df_year = AL_data[AL_data['game_year'] == i]
  for j in game_states:
    df_game_state = AL_data[AL_data['game_state'] == j]
    avg_rs_gs = df_game_state['runs_inn_end'].mean()
    year_match.append(i)
    game_state_vals.append(j)
    run_expectancy.append(avg_rs_gs)

# Combine the three lists into a single dataframe
RE288_AL = pd.DataFrame({'Year':year_match, 'Game_State':game_state_vals, \
                         'AL_RE288':run_expectancy})

In [ ]:
RE288_AL.describe()

             Year   Game_State     AL_RE288
count  1152.00000  1152.000000  1152.000000
mean   2017.50000   144.500000     1.972405
std       1.11852    83.174045     0.150293
min    2016.00000     1.000000     1.452381
25%    2016.75000    72.750000     1.906387
50%    2017.50000   144.500000     1.957486
75%    2018.25000   216.250000     2.025187
max    2019.00000   288.000000     2.616000

In [ ]:
# Save these datraframes
RE288_NL.to_csv('RE288_NL.csv')
RE288_AL.to_csv('RE288_AL.csv')

# Assign RE288 to all observations and save resulting df using 10 distributed notebooks to speed things up.

In [ ]:
# Load dfs if starting from here
data_raw = pd.read_csv('All_MLB_data_gs.csv')
df_gs_spec = data_raw.copy()
df_gs_spec = df_gs_spec.drop(['Unnamed: 0', 'RE288'], axis=1)
RE288_AL = pd.read_csv('RE288_AL.csv')
RE288_AL = RE288_AL.drop(['Unnamed: 0'], axis=1)
RE288_NL = pd.read_csv('RE288_NL.csv')
RE288_NL = RE288_NL.drop(['Unnamed: 0'], axis=1)

In [ ]:
# Create AL and NL team lists
AL_teams = ['CLE', 'OAK', 'NYY', 'BAL', 'KC', 'TEX', 'TB', 'LAA', 'TOR', 'CWS', \
            'DET', 'SEA', 'BOS', 'MIN', 'HOU']
NL_teams = ['COL', 'LAD', 'NYM', 'PHI', 'SF', 'STL', 'WSH', 'CHC', 'MIA', 'PIT', \
            'SD', 'ATL', 'CIN', 'MIL', 'ARI']

In [ ]:
# Assign the average run expectancy for each pitch in the df. 
RE288_col = [] # empty list to store our data
RE_range = list(range(len(RE288_NL)))
df_len = list(range(0, 289125))

for i in df_len:
  # Get the game state and year
  gs = df_gs_spec['game_state'][i]
  yr = df_gs_spec['game_year'][i]
  # Find the corresponding RE288
  if (df_gs_spec['home_team'][i] in NL_teams):
    for j in RE_range:
      if RE288_NL['Year'][j]==yr:
        if RE288_NL['Game_State'][j]==gs:
          val = RE288_NL['NL_RE288'][j]
          RE288_col.append(val) # append to col
  else:
    for j in RE_range:
      if RE288_AL['Year'][j]==yr:
        if RE288_AL['Game_State'][j]==gs:
          val = RE288_AL['AL_RE288'][j]
          RE288_col.append(val) # append to col
  if i%1000 == 0:
    print(i, "observations completed")
  if i%5000 == 0:
    save = pd.DataFrame(RE288_col)
    save.to_csv('RE288_0_289125.csv')

print(len(df_gs_spec))
print(len(RE288_col))

0 observations completed
1000 observations completed
2000 observations completed
3000 observations completed
4000 observations completed
5000 observations completed
6000 observations completed
7000 observations completed
8000 observations completed
9000 observations completed
10000 observations completed
11000 observations completed
12000 observations completed
13000 observations completed
14000 observations completed
15000 observations completed
16000 observations completed
17000 observations completed
18000 observations completed
19000 observations completed
20000 observations completed
21000 observations completed
22000 observations completed
23000 observations completed
24000 observations completed
25000 observations completed
26000 observations completed
27000 observations completed
28000 observations completed
29000 observations completed
30000 observations completed
31000 observations completed
32000 observations completed
33000 observations completed
34000 observations completed
35000 observations completed
36000 observations completed
37000 observations completed
38000 observations completed
39000 observations completed
40000 observations completed
41000 observations completed
42000 observations completed
43000 observations completed
44000 observations completed
45000 observations completed
46000 observations completed
47000 observations completed
48000 observations completed
49000 observations completed
50000 observations completed
51000 observations completed
52000 observations completed
53000 observations completed
54000 observations completed
55000 observations completed
56000 observations completed
57000 observations completed
58000 observations completed
59000 observations completed
60000 observations completed
61000 observations completed
62000 observations completed
63000 observations completed
64000 observations completed
65000 observations completed
66000 observations completed
67000 observations completed
68000 observations completed
69000 observations completed
70000 observations completed
71000 observations completed
72000 observations completed
73000 observations completed
74000 observations completed
75000 observations completed
76000 observations completed
77000 observations completed
78000 observations completed
79000 observations completed
80000 observations completed
81000 observations completed
82000 observations completed
83000 observations completed
84000 observations completed
85000 observations completed
86000 observations completed
87000 observations completed
88000 observations completed
89000 observations completed
90000 observations completed
91000 observations completed
92000 observations completed
93000 observations completed
94000 observations completed
95000 observations completed
96000 observations completed
97000 observations completed
98000 observations completed
99000 observations completed
100000 observations completed
101000 observations completed
102000 observations completed
103000 observations completed
104000 observations completed
105000 observations completed
106000 observations completed
107000 observations completed
108000 observations completed
109000 observations completed
110000 observations completed
111000 observations completed
112000 observations completed
113000 observations completed
114000 observations completed
115000 observations completed
116000 observations completed
117000 observations completed
118000 observations completed
119000 observations completed
120000 observations completed
121000 observations completed
122000 observations completed
123000 observations completed
124000 observations completed
125000 observations completed
126000 observations completed
127000 observations completed
128000 observations completed
129000 observations completed
130000 observations completed
131000 observations completed
132000 observations completed
133000 observations completed
134000 observations completed
135000 observations completed
136000 observations completed
137000 observations completed
138000 observations completed
139000 observations completed
140000 observations completed
141000 observations completed
142000 observations completed
143000 observations completed
144000 observations completed
145000 observations completed
146000 observations completed
147000 observations completed
148000 observations completed
149000 observations completed
150000 observations completed
151000 observations completed
152000 observations completed
153000 observations completed
154000 observations completed
155000 observations completed
156000 observations completed
157000 observations completed
158000 observations completed
159000 observations completed
160000 observations completed
161000 observations completed
162000 observations completed
163000 observations completed
164000 observations completed
165000 observations completed
166000 observations completed
167000 observations completed
168000 observations completed
169000 observations completed
170000 observations completed
171000 observations completed
172000 observations completed
173000 observations completed
174000 observations completed
175000 observations completed
176000 observations completed
177000 observations completed
178000 observations completed
179000 observations completed
180000 observations completed
181000 observations completed
182000 observations completed
183000 observations completed
184000 observations completed
185000 observations completed
186000 observations completed
187000 observations completed
188000 observations completed
189000 observations completed
190000 observations completed
191000 observations completed
192000 observations completed
193000 observations completed
194000 observations completed
195000 observations completed
196000 observations completed
197000 observations completed
198000 observations completed
199000 observations completed
200000 observations completed
201000 observations completed
202000 observations completed
203000 observations completed
204000 observations completed
205000 observations completed
206000 observations completed
207000 observations completed
208000 observations completed
209000 observations completed
210000 observations completed
211000 observations completed
212000 observations completed
213000 observations completed
214000 observations completed
215000 observations completed
216000 observations completed
217000 observations completed
218000 observations completed
219000 observations completed
220000 observations completed
221000 observations completed
222000 observations completed
223000 observations completed
224000 observations completed
225000 observations completed
226000 observations completed
227000 observations completed
228000 observations completed
229000 observations completed
230000 observations completed
231000 observations completed
232000 observations completed
233000 observations completed
234000 observations completed
235000 observations completed
236000 observations completed
237000 observations completed
238000 observations completed
239000 observations completed
240000 observations completed
241000 observations completed
242000 observations completed
243000 observations completed
244000 observations completed
245000 observations completed
246000 observations completed
247000 observations completed
248000 observations completed
249000 observations completed
250000 observations completed
251000 observations completed
252000 observations completed
253000 observations completed
254000 observations completed
255000 observations completed
256000 observations completed
257000 observations completed
258000 observations completed
259000 observations completed
260000 observations completed
261000 observations completed
262000 observations completed
263000 observations completed
264000 observations completed
265000 observations completed
266000 observations completed
267000 observations completed
268000 observations completed
269000 observations completed
270000 observations completed
271000 observations completed
272000 observations completed
273000 observations completed
274000 observations completed
275000 observations completed
276000 observations completed
277000 observations completed
278000 observations completed
279000 observations completed
280000 observations completed
281000 observations completed
282000 observations completed
283000 observations completed
284000 observations completed
285000 observations completed
286000 observations completed
287000 observations completed
288000 observations completed
289000 observations completed
2891247
289125

In [ ]:
val10 = 289125
print(val10, 2*val10, 3*val10, 4*val10, 5*val10, 6*val10, 7*val10, 8*val10, 9*val10)

289125 578250 867375 1156500 1445625 1734750 2023875 2313000 2602125

In [ ]:
# Combine all the batched files together into a single column
# Read in the data
first = pd.read_csv('RE288_1st_batch.csv')
sec = pd.read_csv('RE288_2nd_batch.csv')
third = pd.read_csv('RE288_3rd_batch.csv')
four = pd.read_csv('RE288_4th_batch.csv')
five = pd.read_csv('RE288_5th_batch.csv')
six = pd.read_csv('RE288_6th_batch.csv')
sev = pd.read_csv('RE288_7th_batch.csv')
eight = pd.read_csv('RE288_8th_batch.csv')
nine = pd.read_csv('RE288_9th_batch.csv')
ten = pd.read_csv('RE288_10th_batch.csv')

# Combine the cols
all_RE288 = pd.concat([first, sec, third, four, five, six, sev, eight, \
                       nine, ten], ignore_index=True)
all_RE288 = all_RE288.drop(['Unnamed: 0'], axis=1)
all_RE288.columns = ['RE288']
all_RE288

            RE288
0        1.969061
1        1.952521
2        1.968441
3        1.970840
4        1.940650
...           ...
2891242  1.917817
2891243  2.020894
2891244  1.981160
2891245  1.976912
2891246  1.904386

[2891247 rows x 1 columns]

In [ ]:
# Add new RE288 col to the dataframe
df_gs_spec['RE288'] = all_RE288['RE288']

In [ ]:
# Save the df
df_gs_spec.to_csv('All_MLB_data_RE288.csv')

# Calculate the change in RE288 following each pitch

In [ ]:
# Add column to indicate the change in RE288 after each pitch. 
#data_gs['inning_same'][:10]
change_RE288 = []
for row, value in enumerate(df_gs_spec['inning_same']):
    if (value==True):
        minus = row-1
        change_val = df_gs_spec.RE288[minus] - df_gs_spec.RE288[row]
        change_RE288.append(change_val)

# Append the change_score col to df
change_RE288 = pd.DataFrame(change_RE288)
change_RE288.columns = ['change_RE28']
change_RE288.describe()
df_gs_spec = pd.concat([df_gs_spec, change_RE288], axis=1)

        change_RE28
count  2.802126e+06
mean  -1.516086e-05
std    7.501908e-02
min   -9.228346e-01
25%   -2.946896e-02
50%    0.000000e+00
75%    3.018950e-02
max    9.866294e-01

In [ ]:
# Reverse the sign for change in RE288 (i.e., a negative is good) 
# and add to df_gs_spec
sign_flip = change_RE288*-1
df_gs_spec['RE288_change'] = sign_flip
df_gs_spec.head(10)

  pitch_type   game_date   player_name  ...  runs_inn_end     RE288 RE288_change
0         FF  2016-04-05  Trevor Bauer  ...           0.0  1.969061    -0.016539
1         FF  2016-04-05  Trevor Bauer  ...           0.0  1.952521     0.015919
2         FT  2016-04-05  Trevor Bauer  ...           0.0  1.968441     0.002399
3         FF  2016-04-05  Trevor Bauer  ...           0.0  1.970840    -0.030190
4         FF  2016-04-05  Trevor Bauer  ...           2.0  1.940650     0.012106
5         FC  2016-04-05  Trevor Bauer  ...           2.0  1.952757    -0.012106
6         FT  2016-04-05  Trevor Bauer  ...           2.0  1.940650    -0.006607
7         CU  2016-04-05  Trevor Bauer  ...           2.0  1.934044     0.100194
8         CH  2016-04-05  Trevor Bauer  ...           2.0  2.034237    -0.117571
9         FC  2016-04-05  Trevor Bauer  ...           2.0  1.916667    -0.007078

[10 rows x 47 columns]

In [ ]:
# Save resulting dataframe
df_gs_spec.to_csv('All_MLB_data_for_GME.csv')