<a href="https://colab.research.google.com/github/davidjcox333/Man-vs-Machine/blob/master/RE288_Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Set path to data
from google.colab import drive
drive.mount('/content/gdrive')
%cd './gdrive/My Drive/Matching with RE288/Data'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive/Matching with RE288/Data

In [3]:
# Packages we'll use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
from google.colab import files
import zipfile, io, os
# Load in RE288 game state function; uncomment next line if first time using
#files.upload()
from RE288 import RE288_calc
print("Packages loaded")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Packages loaded

# Turning raw data into single df, fixing NAs, and adding needed columns.

In [ ]:
# Combine all files into single doc. 
#header = ['pitch_type','game_date','batter','pitcher','events','description',\
#          'zone','des','stand','p_throws','home_team','away_team','type','hit_location',\
#          'bb_type','balls','strikes','game_year','on_3b','on_2b','on_1b',\
#          'outs_when_up','inning','inning_topbot','fielder_2','hit_distance_sc',\
#          'launch_speed','launch_angle','effective_speed','at_bat_number',\
#          'pitch_number','home_score','away_score','if_fielding_alignment','of_fielding_alignment']

# Using glob to match the pattern 'csv'
#all_filenames = [file for file in glob.glob('*.csv')]

# Concatenate all files
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

# Save the returned resulting df as .csv
#combined_csv.to_csv("All_MLB_data.csv")

In [ ]:
# Read in file
data_raw = pd.read_csv("All_MLB_data.csv")
data_raw = data_raw.drop(['Unnamed: 0'], axis=1)
data = data_raw.copy()
data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  pitch_type   game_date  ...  if_fielding_alignment  of_fielding_alignment
0         FF  2016-10-02  ...               Standard               Standard
1         FF  2016-10-02  ...               Standard               Standard
2         FF  2016-10-02  ...               Standard               Standard
3         FC  2016-10-02  ...               Standard               Standard
4         CU  2016-10-02  ...               Standard               Standard

[5 rows x 89 columns]

In [ ]:
# Replace null values with 0s. 
data['on_1b'].fillna(0, inplace=True)
data['on_2b'].fillna(0, inplace=True)
data['on_3b'].fillna(0, inplace=True)

# Replace runner MLB player IDs with a 1. 
data.loc[(data['on_1b'] > 0), 'on_1b'] = 1
data.loc[(data['on_2b'] > 0), 'on_2b'] = 1
data.loc[(data['on_3b'] > 0), 'on_3b'] = 1

In [ ]:
# Assign game state identifier for every pitch thrown. 288 game states possible \
# using all unique combinations of balls, strikes, outs, and location of baserunners.
game_state = RE288_calc(data=data, balls='balls', strikes='strikes', outs='outs_when_up', \
        runner_first='on_1b', runner_second='on_2b', runner_third='on_3b')

# Convert list to Pandas dataframe and concatenate with existing data
game_state = pd.DataFrame(game_state)
game_state.columns = ['game_state']
data_gs = pd.concat([data, game_state], axis=1, join='inner')

# Sort by game_date, inning, 
data_gs = data_gs.sort_values(['game_pk', 'inning', 'outs_when_up', 'pitch_number'], \
                              ascending=(True,False,False,False))
data_gs = data_gs.reset_index()

# Add column to indicate whether the inning changed after each pitch. 
data_gs['inning_same'] = data_gs.inning == data_gs.inning.shift()

In [ ]:
data_gs.to_csv('All_MLB_data_gs.csv')

In [ ]:
# Add column of total runs scored to this pitch in the inning. 
#data_gs['total_runs'] = data['home_score'] + data['away_score']
runs_scored = []
for row, value in enumerate(data_gs['game_pk']):
    curr_game = value
    df_length = len(data_gs)-1
    if (row<df_length):
        prev_row_game = row+1
        prev_row_game_val = data_gs.game_pk[prev_row_game]
        if (curr_game!=prev_row_game_val):
            runs = data_gs.home_score[row] + data_gs.away_score[row]
            runs_scored.append(runs)
        if (row==0):
            prev_row = row+1
            ho_sc_1 = data_gs.home_score[row]
            aw_sc_1 = data_gs.away_score[row]
            curr_tot = ho_sc_1 + aw_sc_1
            ho_sc_2 = data_gs.home_score[prev_row]
            aw_sc_2 = data_gs.away_score[prev_row]
            prev_tot = ho_sc_2 + aw_sc_2
            if (curr_tot < prev_tot):
                runs_scored.append(prev_tot)
            else:
                runs_scored.append(curr_tot)
        else:
            prev_row = row-1
            ho_sc_1 = data_gs.home_score[row]
            aw_sc_1 = data_gs.away_score[row]
            curr_tot = ho_sc_1 + aw_sc_1
            ho_sc_2 = data_gs.home_score[prev_row]
            aw_sc_2 = data_gs.away_score[prev_row]
            prev_tot = ho_sc_2 + aw_sc_2
            if (curr_tot > prev_tot):
                runs_scored.append(prev_tot)
            else:
                runs_scored.append(curr_tot)
    if (row==df_length):
        prev_row = row-1
        ho_sc_1 = data_gs.home_score[row]
        aw_sc_1 = data_gs.away_score[row]
        curr_tot = ho_sc_1 + aw_sc_1
        ho_sc_2 = data_gs.home_score[prev_row]
        aw_sc_2 = data_gs.away_score[prev_row]
        prev_tot = ho_sc_2 + aw_sc_2
        if (curr_tot > prev_tot):
            runs_scored.append(prev_tot)
        else:
            runs_scored.append(curr_tot)

# Append total runs col to df.
runs_scored = pd.DataFrame(runs_scored)
change_score = pd.DataFrame(runs_scored)
change_score.columns = ['total_runs']
data_gs = pd.concat([data_gs, runs_scored], axis=1)

In [ ]:
# Add column to indicate the change in score after each pitch. 
#data_gs['inning_same'][:10]
change_score = []
for row, value in enumerate(data_gs['inning_same']):
    if (value==True):
        minus = row-1
        change_val = data_gs.total_runs[minus] - data_gs.total_runs[row]
        if change_val >= 0:
              change_score.append(change_val)
        else:
          change_score.append(0)
    else:
        change_score.append(0)

# Append the change_score col to df
change_score = pd.DataFrame(change_score)
change_score.columns = ['change_score']
data_gs = pd.concat([data_gs, change_score], axis=1)

In [ ]:
data_gs.to_csv("All_MLB_data_gs.csv")

In [ ]:
# Add column that sums number of runs scored in that inning after each pitch. 
last_false = 0
run_sum = []
run_sum_val = 0
for row, value in enumerate(data_gs['inning_same']):
    if (value==False):
        end = row-1
        run_sum_val = data_gs['change_score'].loc[last_false:end].cumsum()
        run_sum.append(run_sum_val)
        last_false = row + 1
    else:
        pass
        
all_run_sums = []
for sublist in run_sum:
    for i in sublist:
        all_run_sums.append(i)

# Append the cumulative sum of runs to the df
runs_to_inning_end = pd.DataFrame(all_run_sums)
runs_to_inning_end.columns = ['runs_inn_end']
data_gs = pd.concat([data_gs, runs_to_inning_end], axis=1)

In [ ]:
# Save new dataframe to new .csv file titled *_gs.csv
data_gs.to_csv('All_MLB_data_gs.csv')

In [ ]:
# If picking up from here. 
data_raw = pd.read_csv('All_MLB_data_gs.csv')
data_gs = data_raw.copy()
data_gs = data_gs.drop(['Unnamed: 0'], axis=1)
data_gs.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,7,10,11,17,18,19,20,21,22,23,25,38,45,80,89,90,92) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       index pitch_type   game_date  ...  total_runs  change_score  runs_inn_end
0  1079167.0         FF  2016-04-05  ...           8             0           0.0
1  1079168.0         FF  2016-04-05  ...           8             0           0.0
2  1079169.0         FT  2016-04-05  ...           8             0           0.0
3  1079170.0         FF  2016-04-05  ...           8             0           0.0
4  1079171.0         FF  2016-04-05  ...           8             0           2.0

[5 rows x 95 columns]

# Create NL and AL dataframes, and calculate RE288 for each season.

In [ ]:
df_gs_spec = data_gs[['pitch_type','game_date','player_name','batter',\
                             'pitcher','events','description','zone','des',\
                             'game_type','stand','p_throws','home_team',\
                             'away_team','type','hit_location','bb_type','balls',\
                             'strikes','game_year','on_3b','on_2b','on_1b',\
                             'outs_when_up', 'inning','inning_topbot','fielder_2',\
                             'effective_speed','game_pk','pitcher.1','fielder_2.1',\
                             'at_bat_number','pitch_number','pitch_name',\
                             'post_away_score','post_home_score','post_bat_score',\
                             'post_fld_score','if_fielding_alignment',\
                             'of_fielding_alignment','game_state','inning_same',\
                             'total_runs','change_score','runs_inn_end']]

In [ ]:
df_gs_spec.head()

  pitch_type   game_date   player_name  ...  total_runs  change_score runs_inn_end
0         FF  2016-04-05  Trevor Bauer  ...           8             0          0.0
1         FF  2016-04-05  Trevor Bauer  ...           8             0          0.0
2         FT  2016-04-05  Trevor Bauer  ...           8             0          0.0
3         FF  2016-04-05  Trevor Bauer  ...           8             0          0.0
4         FF  2016-04-05  Trevor Bauer  ...           8             0          2.0

[5 rows x 45 columns]

In [ ]:
# Drop rows where the home team is nan
df_gs_spec = df_gs_spec.dropna(subset=['home_team', 'away_team'])

In [ ]:
# Create the NL and AL dataframes
AL_teams = ['CLE', 'OAK', 'NYY', 'BAL', 'KC', 'TEX', 'TB', 'LAA', 'TOR', 'CWS', \
            'DET', 'SEA', 'BOS', 'MIN', 'HOU']
NL_teams = ['COL', 'LAD', 'NYM', 'PHI', 'SF', 'STL', 'WSH', 'CHC', 'MIA', 'PIT', \
            'SD', 'ATL', 'CIN', 'MIL', 'ARI']
AL_data = df_gs_spec.loc[df_gs_spec['home_team'].isin(AL_teams)]
NL_data = df_gs_spec.loc[df_gs_spec['home_team'].isin(NL_teams)]

In [ ]:
# Double check that 
print("AL Teams:", AL_data.home_team.unique())
print("NL Teams:", NL_data.home_team.unique())

AL Teams: ['CLE' 'OAK' 'NYY' 'BAL' 'KC' 'TEX' 'TB' 'LAA' 'TOR' 'CWS' 'DET' 'SEA'
 'BOS' 'MIN' 'HOU']
NL Teams: ['ARI' 'SD' 'CIN' 'MIL' 'PIT' 'ATL' 'MIA' 'SF' 'WSH' 'NYM' 'COL' 'CHC'
 'STL' 'PHI' 'LAD']

In [ ]:
# Isolate each game state for each year and calculate the average for NL teams
game_states = list(range(1,289))
years = list(range(2016, 2020))

# Empty lists
year_match = []
game_state_vals = []
run_expectancy = []

for i in years:
  df_year = NL_data[NL_data['game_year'] == i]
  for j in game_states:
    df_game_state = NL_data[NL_data['game_state'] == j]
    avg_rs_gs = df_game_state['runs_inn_end'].mean()
    year_match.append(i)
    game_state_vals.append(j)
    run_expectancy.append(avg_rs_gs)

# Combine the three lists into a single dataframe
RE288_NL = pd.DataFrame({'Year':year_match, 'Game_State':game_state_vals, \
                         'NL_RE288':run_expectancy})

In [ ]:
RE288_NL.describe()

             Year   Game_State     NL_RE288
count  1152.00000  1152.000000  1152.000000
mean   2017.50000   144.500000     1.971522
std       1.11852    83.174045     0.125870
min    2016.00000     1.000000     1.588496
25%    2016.75000    72.750000     1.912018
50%    2017.50000   144.500000     1.971588
75%    2018.25000   216.250000     2.026546
max    2019.00000   288.000000     2.480000

In [ ]:
# Isolate each game state for each year and calculate the average for AL teams
game_states = list(range(1,289))
years = list(range(2016, 2020))

# Empty lists
year_match = []
game_state_vals = []
run_expectancy = []

for i in years:
  df_year = AL_data[AL_data['game_year'] == i]
  for j in game_states:
    df_game_state = AL_data[AL_data['game_state'] == j]
    avg_rs_gs = df_game_state['runs_inn_end'].mean()
    year_match.append(i)
    game_state_vals.append(j)
    run_expectancy.append(avg_rs_gs)

# Combine the three lists into a single dataframe
RE288_AL = pd.DataFrame({'Year':year_match, 'Game_State':game_state_vals, \
                         'AL_RE288':run_expectancy})

In [ ]:
RE288_AL.describe()

             Year   Game_State     AL_RE288
count  1152.00000  1152.000000  1152.000000
mean   2017.50000   144.500000     1.972405
std       1.11852    83.174045     0.150293
min    2016.00000     1.000000     1.452381
25%    2016.75000    72.750000     1.906387
50%    2017.50000   144.500000     1.957486
75%    2018.25000   216.250000     2.025187
max    2019.00000   288.000000     2.616000

In [ ]:
# Save these datraframes
RE288_NL.to_csv('RE288_NL.csv')
RE288_AL.to_csv('RE288_AL.csv')

# Assign RE288 to all observations and save resulting df

In [4]:
# Load dfs if starting from here
data_raw = pd.read_csv('All_MLB_data_gs.csv')
df_gs_spec = data_raw.copy()
df_gs_spec = df_gs_spec.drop(['Unnamed: 0', 'RE288'], axis=1)
RE288_AL = pd.read_csv('RE288_AL.csv')
RE288_AL = RE288_AL.drop(['Unnamed: 0'], axis=1)
RE288_NL = pd.read_csv('RE288_NL.csv')
RE288_NL = RE288_NL.drop(['Unnamed: 0'], axis=1)

In [5]:
# Create AL and NL team lists
AL_teams = ['CLE', 'OAK', 'NYY', 'BAL', 'KC', 'TEX', 'TB', 'LAA', 'TOR', 'CWS', \
            'DET', 'SEA', 'BOS', 'MIN', 'HOU']
NL_teams = ['COL', 'LAD', 'NYM', 'PHI', 'SF', 'STL', 'WSH', 'CHC', 'MIA', 'PIT', \
            'SD', 'ATL', 'CIN', 'MIL', 'ARI']

In [ ]:
# Assign the average run expectancy for each pitch in the df. 
RE288_col = [] # empty list to store our data
RE_range = list(range(len(RE288_NL)))
df_len = list(range(0, 289125))

for i in df_len:
  # Get the game state and year
  gs = df_gs_spec['game_state'][i]
  yr = df_gs_spec['game_year'][i]
  # Find the corresponding RE288
  if (df_gs_spec['home_team'][i] in NL_teams):
    for j in RE_range:
      if RE288_NL['Year'][j]==yr:
        if RE288_NL['Game_State'][j]==gs:
          val = RE288_NL['NL_RE288'][j]
          RE288_col.append(val) # append to col
  else:
    for j in RE_range:
      if RE288_AL['Year'][j]==yr:
        if RE288_AL['Game_State'][j]==gs:
          val = RE288_AL['AL_RE288'][j]
          RE288_col.append(val) # append to col
  if i%100 == 0:
    print(i, "observations completed")

print(len(df_gs_spec))
print(len(RE288_col))

In [21]:
val10 = 289125
print(val10, 2*val10, 3*val10, 4*val10, 5*val10, 6*val10, 7*val10, 8*val10, 9*val10)

289125 578250 867375 1156500 1445625 1734750 2023875 2313000 2602125

In [ ]:
# Add new RE288 col to the dataframe
df_gs_spec['RE288'] = RE288_col

In [ ]:
df_gs_spec.to_csv('All_MLB_data_gs.csv')