<a href="https://colab.research.google.com/github/david-j-cox/Man-vs-Machine/blob/master/add_re24_col.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Environment Setup

In [2]:
# Set path to data
from google.colab import drive
drive.mount('/content/gdrive')
%cd './gdrive/My Drive/GME & MLB/'

Mounted at /content/gdrive
/content/gdrive/My Drive/GME & MLB

In [3]:
# Connect TPU
%tensorflow_version 2.x
import tensorflow as tf
print("Tensorflow version " + tf.__version__)

try:
  tpu = tf.distribute.cluster_resolver.TPUClusterResolver()  # TPU detection
  print('Running on TPU ', tpu.cluster_spec().as_dict()['worker'])
except ValueError:
  raise BaseException('ERROR: Not connected to a TPU runtime')

tf.config.experimental_connect_to_cluster(tpu)
tf.tpu.experimental.initialize_tpu_system(tpu)
tpu_strategy = tf.distribute.experimental.TPUStrategy(tpu)

Tensorflow version 2.7.0
Running on TPU  ['10.78.120.194:8470']
INFO:tensorflow:Deallocate tpu buffers before initializing tpu system.

INFO:tensorflow:Deallocate tpu buffers before initializing tpu system.

INFO:tensorflow:Initializing the TPU system: grpc://10.78.120.194:8470

INFO:tensorflow:Initializing the TPU system: grpc://10.78.120.194:8470

INFO:tensorflow:Finished initializing TPU system.

INFO:tensorflow:Finished initializing TPU system.
WARNING:absl:`tf.distribute.experimental.TPUStrategy` is deprecated, please use  the non experimental symbol `tf.distribute.TPUStrategy` instead.

INFO:tensorflow:Found TPU system:

INFO:tensorflow:Found TPU system:

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

In [4]:
# Packages we'll use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
from google.colab import files
import zipfile, io, os
# Load in RE24 game state function; uncomment next line if first time using
# files.upload()
from RE24 import RE24_calc
from IPython.display import HTML, display, clear_output
import time
print("Packages loaded")

Packages loaded

In [42]:
# Load dfs if starting from here
data_raw = pd.read_csv('./Data/01_raw/all_pitches_08_19.csv').drop(['Unnamed: 0'], axis=1)
df_gs_spec = data_raw.copy()
df_gs_spec.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (44,88,89) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  pitch_type   game_date  ...  if_fielding_alignment  of_fielding_alignment
0         FF  2019-09-29  ...               Standard               Standard
1         FC  2019-09-29  ...               Standard               Standard
2         FF  2019-09-29  ...               Standard               Standard
3         FF  2019-09-29  ...               Standard               Standard
4         FF  2019-09-29  ...               Standard               Standard

[5 rows x 89 columns]

In [43]:
df = df_gs_spec[['game_year', 'pitcher', 'batter', 'pitch_type', 'game_date', 'type', 'balls', 'strikes', 
                 'on_3b',	'on_2b',	'on_1b', 	'outs_when_up', 'inning', 'inning_topbot', 'pitch_number',
                 'pitch_name',  'home_score',  'away_score', 'bat_score', 'fld_score',
                 'post_away_score', 'post_home_score', 'post_bat_score', 'post_fld_score', 
                 'events', 'description']]

In [51]:
# Save it 
for col in ['on_1b', 'on_2b', 'on_3b', 'outs_when_up']:
  df[col] = df[col].astype(float)
  df[col] = df[col].fillna(0.0)
df.to_csv('df_analysis.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [45]:
# Segment out the years into dfs
for year in df['game_year'].unique():
  temp_df = df[df['game_year']==year]
  temp_df.reset_index(drop=True)
  temp_df.to_csv(f'./Data/02_intermediate/df_{year}.csv')

# Add RE24 to each year df

In [52]:
# Function to add re24 vals to dataframes
def calc_re_24(df, year):
  re24_vals = []
  for i in range(len(df)):
    outs = df['outs_when_up'][i]
    first = df['on_1b'][i]
    second = df['on_2b'][i]
    third = df['on_3b'][i]
    val = RE24_calc(outs=outs, runner_first=first, 
                    runner_second=second, runner_third=third)
    re24_vals.append(val)
    if i%100==0:
      clear_output()
      print(f'Season: {year}\n{i} of {len(df)} completed ({int((i/len(df))*100)}%)')
  df['re_24'] = re24_vals
  return df

In [76]:
# Add RE24 to all year dfs
for year in [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]:
  temp_df = pd.read_csv(f'./Data/02_intermediate/df_{year}.csv')
  drop_list = [i for i in list(temp_df) if 'Unnamed' in i]
  temp_df = temp_df.drop(drop_list, axis=1)
  for col in ['on_1b', 'on_2b', 'on_3b']:
    temp_df[col] = temp_df[col].fillna(0)
  temp_df = calc_re_24(temp_df, year)
  temp_df.to_csv(f'./Data/02_intermediate/df_{year}.csv')

Season: 2019
732400 of 732473 completed (99%)

# Add cols for change in RE24 pre-post

In [99]:
# Function to get change in RE24 pre-post pitch
def re24_change(df, year):
  df = df.sort_values(by=['game_date', 'inning', 'pitch_number'])

  # Change in RE24 value - continuous
  temp_list = []
  for index in range(len(df)):
    if index==0:
      temp_list.append(np.nan) 
    elif df['inning'][index-1]==df['inning'][index]:
      temp_list.append(df['re_24'][index-1]-df['re_24'][index])
    else:
      temp_list.append(np.nan)
    if index%100==0:
      clear_output()
      print(f'Season: {year}\nRE24 Continuous Change: {index} of {len(df)} completed ({int((index/len(df))*100)}%)')
  df['re_24_change_raw'] = temp_list
  
  # Categorical change
  temp_list = []
  for index in range(len(df)):
    if index==0:
      temp_list.append(np.nan) 
    elif df['inning'][index-1]==df['inning'][index]:
      if df['re_24'][index-1]>df['re_24'][index]:
        temp_list.append(1)
      elif df['re_24'][index-1]<df['re_24'][index]:
        temp_list.append(-1)
      else:
        temp_list.append(0)
    else:
      temp_list.append(np.nan)
    if index%100==0:
      clear_output()
      print(f'Season: {year}\nRE24 Categorical Change: {index} of {len(df)} completed ({int((index/len(df))*100)}%)')
  df['re_24_change_cat'] = temp_list

  return df

In [100]:
# Add RE24 changes to all dfs
for year in [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]:
  temp_df = pd.read_csv(f'./Data/02_intermediate/df_{year}.csv')
  drop_list = [i for i in list(temp_df) if 'Unnamed' in i]
  temp_df = temp_df.drop(drop_list, axis=1)
  temp_df = temp_df.reset_index(drop=True)
  for col in ['on_1b', 'on_2b', 'on_3b']:
    temp_df[col] = temp_df[col].fillna(0)
  temp_df = re24_change(temp_df, year)
  temp_df.to_csv(f'./Data/02_intermediate/df_{year}.csv')

Season: 2019
RE24 Categorical Change: 732400 of 732473 completed (99%)